<div class="container">
  <header class="header">
    <h1>Bem-vindo ao Savelifi</h1>
    <p>Gerencie suas despesas e orçamento de forma fácil e intuitiva.</p>
  </header>

  <main class="menu">
    <button mat-raised-button color="primary" routerLink="/cadastro-despesas">Cadastrar Despesa</button>
    <button mat-raised-button color="accent" routerLink="/list-despesas">Listar Despesas</button>
    <button mat-raised-button color="warn" routerLink="/orcamento">Gerenciar Orçamento</button>
  </main>
</div>
